site_name: ProxLock
site_url: https://proxlock.com

repo_url: https://github.com/proxlock/docs
repo_name: proxlock/docs

plugins:
  - search
  - social:
      cards_layout_options:
          color: black
          background_color: "white"
          font_variant: 18pt

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/toc-scroll.js

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Web Dashboard Guide: web-dashboard.md
  - iOS SDK Guide: ios-sdk.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/proxlock
    - icon: material/web
      link: https://proxlock.dev
